.descprition {
    max-width: 1140px;
    padding: 48px 32px;
    background: rgba(250, 255, 0, 1);
    margin: 0 auto;
    box-sizing: border-box;

}

.description__content {
    display: flex;
    justify-content: space-between;
    
}

.descprition__statistic ,  .desciption__text-container {
    border: 1px solid brown;
    width: 49%;
}

.descprition__statistic-element {
    display: flex;
    justify-content: space-between;
}